
<p>
  <strong>Course name:</strong>
  <%= Course.find(params[:course_id]).course_name %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= Subscriber.where(id: Course.find(params[:course_id]).subscriber_id).first.fname %>
</p>

<h4>Do you want subscribe this Course?</h4> 

<%= form_for(@subscription, local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :course_id, value: params[:course_id]%>
  <%= form.hidden_field :subscriber_id, value: Subscriber.find_by( user_id: current_user.id).id %>
  <div class="actions">
    <%= form.submit "Subscribe"%>
  </div>
<% end %>
