<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= Subscriber.where(id: @course.subscriber_id).first.fname %>
</p>

<%= link_to 'Subscribe', subscribe_path(@course) if policy(@course).subscribe? %>
<%= link_to 'Edit', edit_course_path(@course) if policy(@course).update? %>
<%= link_to 'Back', home_path %>
