<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @subscriber.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @subscriber.lname %>
</p>

<p>
  <strong>Citizenid:</strong>
  <%= @subscriber.citizenid %>
</p>

<p>
  <strong>Substype:</strong>
  <%= @subscriber.substype %>
</p>

<p>
  <strong>Insorstid:</strong>
  <%= @subscriber.insorstid %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @subscriber.dept %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) if policy(@subscriber).update? %>
<%= link_to 'Back', home_path %>
